@{
    ViewBag.Title = "Home Page";
}
<div class="StJohnHeader">
    <h1>@ViewBag.Title.</h1>
</div>
<h2>@ViewBag.Message</h2>
<br />

<h2>St John LINKS</h2>
<p>
    QUB LINKS are an operational unit of St John Ambulance (NI) as well as a ratified QUB SU society. We offer first aid training and practice, amazing socials and the opportunity to go on duty with us, progressing from First Aider all the way up to emergency ambulance crew (ETA).
</p>

<h2>St John EPAD</h2>
<p>
    EPAD (Equipment, Personnel, and Duties) is a new tool to provide efficient and comprehensive management of St John Ambulance divisons throughout Northern Ireland and further afield
    <br /><br />
    To learn more, please get in touch with the relevant point of contact within your division.
</p>