@{
    ViewBag.Title = "Duty Home";
}
<div class="StJohnHeader">
    <h1>@ViewBag.Title.</h1>
</div>
<h2>@ViewBag.Message</h2>
<br />

<h2>New Duty</h2>
<p>
    @Html.ActionLink("Click here", "Create") to create a new duty
</p>

<h2>St John EPAD</h2>
<p>
    @Html.ActionLink("Click here", "ViewAll") to view existing 

</p>