@{
    ViewBag.Title = "Statistics";
}
<div class="StJohnHeader">
    <h1>@ViewBag.Title.</h1>
</div>
<h2>@ViewBag.Message</h2>
<br />

<h2>Unit stats & figures</h2>
<ul>
    <li>Duty hours (by person)</li>
    <li>Duty hours (by month)</li>
    <li>Training records</li>
    <li>Member records</li>
    <li>Documents</li>
    <li>Equipment</li>
</ul>