@{
    ViewBag.Title = "View Duties";
}
<div class="StJohnHeader">
    <h1>@ViewBag.Title.</h1>
</div>
<h2>@ViewBag.Message</h2>
<br />

<h2>St John LINKS</h2>
<p>
    Here we will view duties
</p>
