@{
    ViewBag.Title = "Resource Assessment";
}

<h2>ViewBag.Title</h2>
Based on HSE Event Safety Guide & Other Recoommendations
A. Type of Event
Please choose one
<input type="radio" name="QuestionA" value="1" />Village / School /etc Fete
<input type="radio" name="QuestionA" value="2" />Classical Music Performance
<input type="radio" name="QuestionA" value="2" />Agricultural / County Show
<input type="radio" name="QuestionA" value="2" />State Occassion / VIP Visit
<input type="radio" name="QuestionA" value="2" />Demo / March : Low Risk)
<input type="radio" name="QuestionA" value="3" />Public Exhibition
<input type="radio" name="QuestionA" value="3" />Water Sports Activities
<input type="radio" name="QuestionA" value="3" />Motorcycle Display
<input type="radio" name="QuestionA" value="3" />Contact Sports
<input type="radio" name="QuestionA" value="3" />Aviation Event
<input type="radio" name="QuestionA" value="3" />Athletics Events & Marathons
<input type="radio" name="QuestionA" value="3" />Music Festival
<input type="radio" name="QuestionA" value="4" />Horse Show / Riding Event
<input type="radio" name="QuestionA" value="4" />Motorsport / Powerboat Racing
<input type="radio" name="QuestionA" value="4" />Bonfire / Pyrotechnic Display
<input type="radio" name="QuestionA" value="5" />Pop / Rock Concert
<input type="radio" name="QuestionA" value="5" />Demo / March : Medium Risk
<input type="radio" name="QuestionA" value="7" />New Year Celebrations
<input type="radio" name="QuestionA" value="7" />Demo / March : High Risk
<input type="radio" name="QuestionA" value="8" />Dance Event
<input type="radio" name="QuestionA" value="9" />Demo / March : Opposing Factions